<!-- <h1>{{title}}</h1>
<h2>{{name}}</h2>
<h2>{{rollno}}</h2>
<h1>{{location}}</h1>
<h1>{{Phonenumber}}</h1>
<h2>{{age+2}}</h2>
  -->
<!-- <app-products></app-products>   
 <app-cars></app-cars>   
  <app-bus></app-bus>
  <nav>
  <a class="button"  routerLink="/cars">Cars</a> ||
  <a class="button"  routerLink="/products">Products</a>||
  <a class="button" routerLink="/home">Home</a>
</nav>
 <router-outlet></router-outlet>  -->


<div class="container">
  <app-header></app-header>
  <app-tasks></app-tasks>
</div>

