
<body>

<div>
   


       <h1>GET MORE ABOUT STUDENT DETAILS & PRODUCT DETAILS:</h1>
       <div style="float:left">
      <table>
       
        <tr>
          <th>STUDENT ID</th>
          <th>STUDENT NAME</th>
          <th>STUDENT RANK</th>
          <th>STUDENT SCHOOL</th>
        </tr>
        <tr>
          <td>{{p1.sid}}</td>
          <td>{{p1.sname}}</td>
          <td>{{p1.srank}}</td>
          <td>{{p1.sschool}}</td>
        </tr>
        <tr>
            <td>{{p1.id}}</td>
            <td>{{p1.name}}</td>
            <td>{{p1.rank}}</td>
            <td>{{p1.school}}</td>
          </tr>
          <tr>
            <td>{{p1.id1}}</td>
            <td>{{p1.name1}}</td>
            <td>{{p1.rank1}}</td>
            <td>{{p1.school1}}</td>
          </tr>
          <tr>
            <td>{{p1.id2}}</td>
            <td>{{p1.name2}}</td>
            <td>{{p1.rank2}}</td>
            <td>{{p1.school2}}</td>
          </tr>
   
      </table> 
    </div> 

   
      <div style="float:right"> 
      <table >
        
        <tr>
          <th>PRODUCT ID</th>
          <th>PRODUCT NAME</th>
          <th>PRODUCT PRICE</th>
          <th>PRODUCT DESCRIPTION</th>
        </tr>
        <tr>
          <td>{{p.pid}}</td>
          <td>{{p.pname}}</td>
          <td>{{p.pprice}}</td>
          <td>{{p.pdesc}}</td>
        </tr>
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.desc}}</td>
          </tr>
          <tr>
            <td>{{p.id1}}</td>
            <td>{{p.name1}}</td>
            <td>{{p.price1}}</td>
            <td>{{p.desc1}}</td>
          </tr>
      </table> 
      </div>


<!-- 
      <h1>Product_id:<p>{{p.pid}}</p></h1>
      <h1>Product_Name:<p>{{p.pname}}</p></h1>
      <h1>Product_price:<p>{{p.pprice}}</p></h1>
      <h1>Product_description:<p>{{p.pdesc}}</p></h1>
  
      <h1>Product_id:<p>{{p.id}}</p></h1>
      <h1>Product_Name:<p>{{p.name}}</p></h1>
      <h1>Product_price:<p>{{p.price}}</p></h1>
      <h1>Product_description:<p>{{p.desc}}</p></h1> 
  
  
      <p>Student details!</p>
      <h1>Student_id:<p>{{p1.sid}}</p></h1>
      <h1>Student_Name:<p>{{p1.sname}}</p></h1>
      <h1>Student_rank:<p>{{p1.srank}}</p></h1>
      <h1>Student_school:<p>{{p1.sschool}}</p></h1> 
  
       <h1>OverAll Details:</h1>
      <ul>
          <li>{{p1.sid}}</li>
          <li>{{p1.sname}}</li>
          <li>{{p1.srank}}</li>
          <li>{{p1.sschool}}</li>
        </ul> -->
  
</div>
</body>