
<body>

<marquee><h3>GET MORE DETAILS ABOUT CAR:</h3></marquee>
    

<p>Details of Cars:</p>
<h1>Vehicle_id:<p>{{zz.cid}}</p></h1>
<h1>Company_Name Of Car:<p>{{zz.cname}}</p></h1>
<h1>Vehicle_Number:<p>{{zz.cno}}</p></h1>
<h1>Model Of Car:<p>{{zz.cmodel}}</p></h1>

<p>Details of Cars:Second Part</p>

<h2>Company of Car:<p>{{yy.NameofCar}}</p></h2>
<h2>Price Of Car:<p>{{yy.carprice}}</p></h2>
<h2>Mileage Of Car:<p>{{yy.carmileage}}</p></h2>
<h2>Ratings Of Car:<p>{{yy.carratings}}</p></h2>
<h2>Feedback of this Model:<p>{{yy.carsfeedback}}</p></h2>
<h2>Maximum Speed Of Car:<p>{{yy.maxcarspeed}}</p></h2>


<h1>GET MORE ABOUT PRODUCTS DETAILS:</h1>
<table style="width:100%">
  <tr>
    <th>Company of Car:</th>
    <th>Price Of Car:</th>
    <th>Mileage Of Car:</th>
    <th>Ratings Of Car:</th>
    <th>Feedback of this Model:</th>
    <th>Maximum Speed Of Car:</th>
  </tr>
  <tr>
    <td>{{yy.NameofCar}}</td>
    <td>{{yy.carprice}}</td>
    <td>{{yy.carmileage}}</td>
    <td>{{yy.carratings}}</td>
    <td>{{yy.carsfeedback}}</td>
    <td>{{yy.maxcarspeed}}</td>
  </tr>
</table>



</body>
